/*====================
Universal Styling
======================*/

*{
margin: 0;
padding: 0;
border: 0;
}

header {
    background-color: #c1d1c2;
    color: white;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

header a{
color: white;
text-decoration: none;
position: fixed;
width: 100%;
top: 20px;
}

header li{
  display: inline-block;
  margin: 0 40px;
}

nav {
    display: inline-block;
}

main.container {
    max-width: 900px;
    margin: auto;
    padding-top: 90px;
}


h2 {
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: #d1a7c4


}
p{
  font-family: 'Raleway', sans-serif;
}

span.Rabbit {
    font-weight: bold;
    color: #83a58d;
}

/*==================
  Position Section Styling
  ==================*/

  section.Banner.Header {
    position: relative;
}

h1 {
  position: absolute;
  color: white;
  padding: 150px 50px;
  font-size: 60px;
  font-family: 'Dancing Script', cursive;

}
